.footer__list-element {
}

@media screen and (max-width: 440px) {
    .footer__list-element{
        margin: 0 0 32px 0;
    }
    .footer__list-element:last-child{
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__list-element  {
        margin: 0 0 32px 0;

    }
    .footer__list-element:last-child{
        margin: 0;
    }
}



