.overlay__background {

    border: 1px solid yellow;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.2) ), url("../../../image/cover-trains.jpg");
    max-width: 92.5%;
    aspect-ratio: 8/5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 5;

}

.overlay__background:hover {
    opacity: .6;
}

@media screen and (max-width: 1024px){
    .overlay__background {
        max-width: 100%;

    }
}
@media screen and (max-width: 768px){
    .overlay__background {
        max-width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .overlay__background {
        max-width: 100%;
    }
}

