.overlay__background {

    border: 1px solid yellow;

    /*aspect-ratio: 8/5;.cover__link {
    text-decoration: none;
}.cover__link {
    text-decoration: none;
}
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 5;

}

.overlay__background:hover {
    opacity: .6;
}

@media screen and (max-width: 1024px){
    .overlay__background {
        max-width: 100%;

    }
}
@media screen and (max-width: 768px){
    .overlay__background {
        max-width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .overlay__background {
        max-width: 100%;
    }
}

