.cover__subtitle {

    position: absolute;
    width: 360px;
    left: 480px;
    top: 429px;
    right: 412px;
    bottom: 245px;
    margin: 32px 0 0 0;

    z-index: 1;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}