.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.2) ), url("../../image/cover-trains.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 8/5;
    max-width: 1184px;
    margin: 70px auto 92px auto;
}

.overlay:hover {
    cursor: pointer;
    opacity: .6;
}
@media screen and (max-width: 1024px){
    .overlay {
        margin: 92px auto 92px auto;
    }
}
@media screen and (max-width: 786px){
    .overlay {
        margin: 90px auto 88px auto;
    }
}

@media screen and (max-width: 320px){
    .overlay {
        /*padding: 33px 0;*/
        margin: 66px 0 64px 0;
    }
}