.place__website_url-heading {
    margin: 0;
    font-family: Inter sans-serif Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}