.place__link {
    font-family: "Inter", sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover{
    cursor: pointer;
    color: #AAAAAA;


}
@media screen and (max-width: 320px) {
    .place__link {
        line-height: 22px;
        margin: 12px 16px 0 16px;
    }
}
