.cover__overlay {
    border: 1px solid yellow;
    background-image: url("../../../image/cover-trains.jpg");
    max-width: 1184px;
    height: 100vh;
    background-size: 100%;
    margin: auto;
    z-index: 5;
    opacity: .7;
}