.footer {
    display: flex;
    margin: 0 48px;
    padding: 0 0 24px 0;
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 100%;
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 3.125vw;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .footer{
        max-width: 310px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 5vw;

    }
}
