.intro__title {
    max-width: 690px;
    height: auto;
    border: 1px solid darkmagenta;
    font-family: Inter  sans-serif Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;

}